/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */
.one {
    display: flex;
}
.one #olivia{
    flex-direction: column;
    align-items: flex-end;
}

.one #tekst{
    flex-direction: column;
    align-items: flex-end;
}
.two {


}